.about {
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(62, 61, 60);
    box-shadow: 10px 10px 5px rgb(210, 217, 221);
}

.image {
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 10px 10px 5px rgb(210, 217, 221);
}

.image img {
    width: 100%;
}

@media screen and (max-width: 576px) {
    .about {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 577px) and (max-width:992px) {
    .about {
        grid-template-columns: repeat(2, 1fr);
    }
}